body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

canvas {
    float: left;
}

* {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

canvas {
    margin: 0 auto;
    display: block;
}

#infoPane {
    position: absolute;
    width: 300px;
    top: 0;
    right:0;
    bottom: 0;
    background-color: #f15a29;
    display: block;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
    text-align: center;
}

h2 {
    margin-bottom: 5px;
    font-size: 23px;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
    text-align: center;
}

h3 {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 100;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
    text-align: center;
}