body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

canvas {
    float: left;
}

* {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

canvas {
    margin: 0 auto;
    display: block;
}

.infoPane {
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0;
    right:0;
    bottom: 0;
    background-color: #f15a29;
    display: block;
    font-family: Papyrus, fantasy, Helvetica, Arial, sans-serif;;
    color: #fff;
    text-align: center;
}

h2 {
    margin-bottom: 3px;
    font-size: 25px;
    font-weight: bold;
}

h3 {
    margin-top: 3px;
    font-size: 18px;
    font-weight: lighter;
}

.volumeSlider {
    height: 15px;
}

input[type="range"]{
    background-color: #fff;
    width: 130px;
    height: 10px;
    -webkit-appearance: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -wekkit-border-radius: 8px;
}

input[type="range"]::-webkit-slider-thumb{
   width:25px;
   height:15px;
   -webkit-appearance: none;
 }
