body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

* {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

canvas {
    margin: 0 auto;
    display: block;
}